<ng-container>
  <mat-sidenav-container class="example-container">
    <!--<app-sidebar></app-sidebar>-->
    <mat-sidenav #sidenav mode="side" opened class="example-sidenav"
                 [fixedInViewport]="options.value.fixed" [fixedTopGap]="options.value.top"
                 [fixedBottomGap]="options.value.bottom">
      <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content [formGroup]="options">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>

